@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
  font-family: 'Open Sans', sans-serif;
}

#container{
  border-top: solid .5em #f44336;
}

.template-page-style h1 span{
  color: #F44336;
  font-weight: normal;
}

.bg-white{
  border-bottom: solid #d6d2d2;
  margin-bottom: 1em;
  margin-top: -1em;
  z-index: 10;
}

.bg-white span{
  color: #989595;
  font-size: .9em;
}

.section3{
  margin-bottom: 4em !important;
  margin-top: 2em;
}

.section3 h3{
  margin-top:1.5em;
  text-align: center;
}

.section4{
  margin-top: 6em !important;
}

h5{
  color: #7a7b7b !important;
  font-weight: bold !important;
}

.main-slider{
  height: 38em;
  margin: -.7em auto;
  overflow: hidden;
}

.overlay{
  bottom: 0;
  color: #FFF;
  display: block;
  font-size: 1.6em !important;
  left: 0;
  margin: -7em auto !important;
  position: absolute;
  right: 0;
  text-shadow: -0.2px 4px 7px #232222, -2px 2px 0 rgb(68, 61, 61) !important;
  top: 0;
}

.template-page-style ol li, .template-page-style ul li {
font-family: inherit;
font-weight: normal;
font-size: 01.35em;
line-height: 1.6;
margin-bottom: 0.9rem;
text-rendering: optimizeLegibility;
}

.quote {
background: #eaeae5;
font-size: 1.5em !important;
margin: 0;
padding: 2em 2em 2em 2em !important;
}


button.descarga-btn {
font-size: 1rem;
background-color: #544f4f;
color: #FFF;
margin: 1em auto;
display: block;
padding: .5em 1.5em;
}

button.descarga-btn:hover {
background-color: #328fda;
}

.staff p {
text-align: center;
}

.section-staff {
margin-bottom: 4em !important;
}


.section-volunteers {
margin-bottom: 4em !important;
}

.section-volunteers p {
font-size: 1.15em;
margin-top: 1em;
padding: .7em;
}

.section-email p {
padding: .1em .1em;
font-size: 1.15em;
margin: 0;
}

.section-email h3 {
font-size: 1.5em !important;
color: #7a7b7b !important;
}

p.contact {
text-align: center;
background: #d4d4d4;
color: #444141;
padding: .4em;
margin: 1em 0;
}

.register-btn {
background: red;
color: #FFF;
padding: .5em 1.2em;
border-radius: .2em;
transition: .2s;
}

h3.bg-white:before, h3.bg-white:after {
background: #FFF !important;
}

a.register-btn:hover {
background: #4e4c4c;
color: #FFF;
}

/* .dropdown-link-style {
background: #484a4a;
color: #FFF;
font-size: .9em;
text-transform: none;
} */

.submit-btn {
background-color: #0072bc;
text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
color: #fff;
text-decoration: none;
background-image: linear-gradient(#0079c8, #0072bc);
border-width: 1px;
border-style: solid;
border-top-color: #006bb1;
border-left-color: #0073be;
border-right-color: #0073be;
border-bottom-color: #0074c0;
padding: .5em 2em;
text-transform: uppercase;
margin-top: .4em;
width: 100%;
margin-bottom: 2em;
}

.submit-btn:hover {
background: #333;
}

.template-page-style h3 {
}

.face-div {
/*background: url('img/2016/face-bg-mono-large.jpg');*/
background-repeat: no-repeat;
background-position: 5em 32em;
}

.face-div a {
/* font-weight:bold; */
}

.circle {
background: #465156;
color: #FFF;
height: 14em;
width: 14em;
border-radius: 14em;
display: block;
margin: auto;
border: solid #CCC .4em;
}

.counter {
display: block;
margin: 2em  auto;
width: 3em;
text-align: center;
height: 1em;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
color: #FFF;
font-size: 2em;
font-weight: bold;
font-family: 'Montserrat', sans-serif;
}

section article h3{
font-family: 'Montserrat', sans-serif !important;
font-size: 1.8em;
}
.circle p {
display: block;
margin: 5.5em auto;
width: 6em;
text-align: center;
line-height: 1em;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
color: #FFC107;
font-size: 1.3em;
font-weight: bold;
font-family: 'Montserrat', sans-serif;
}

.hero{
background: url(/face/img/2018/home2.jpg);
background-size: cover;
background-attachment: fixed;
width: 100%;
height: 37em;
margin-top: -.6em;
background-position-y: -8em;
}

.container h3 {
text-transform: uppercase !important;
font-size: 2em !important;
}

h1 {
position: absolute;
margin: auto;
margin-top: -6em;
color: #fffcfc;
top: 0;
right: 0;
left: 0;
/* bottom: 0; */
text-align: center;
font-weight: bold;
z-index: 7;
font-size: 4em;
/* padding: .4em.7em; */
/* background: rgba(4,4,4,.5); */
font-family: 'Montserrat', sans-serif;
text-shadow: -0.2px 5px 16px #545454, -1px 2px 0 rgb(68, 61, 61);
transform: skew(0deg) rotate(0deg);
}

.section1 {
padding-top: 2em;
}

.section1 p, .section1 h3 {
text-align:center;
}

.section1 h3 {
margin: 0;
}

.section1 p {
margin: -.5em 0 2em 0;
font-size: 1.4em;
font-weight: bold;
color: #ada9a9;
}

.section3 {
margin-bottom: 4em !important;
}

.section3 p {
padding: 0 1.5em;
font-size: 1.3em;
}

.section4 {
padding-top: 2em !important;
margin-bottom: 2em !important;
padding: 2em;
}

.section4 p {
font-size: 1.1em;
color: #465156;
}

.floating-h4 {
margin: 6em auto;
top: 0;
right: 0;
left: 0;
bottom: 0;
position: absolute;
}

.hand {
display: block;
margin: -4.2em auto;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
height: 4em;
}

i.fas.fa-quote-left {
font-size: 2em;
color: #607D8B;
position: absolute;
margin: -1em -.2em;
}

i.fas.fa-quote-right {
font-size: 2em;
color: #607D8B;
position: absolute;
margin: -1.5em .5em;
right: 0;
}

.section5 .fas {
font-weight: 900;
color: #e31b27;
display: block;
margin: auto;
font-size: 4em;
padding: .7em .7em .1em .7em;
border-radius: 3em;
text-align: center;
}

.section5 p {
text-align: center;
font-size: .9em;
text-transform: uppercase;
font-weight: bold;
color: #504950;
}

.section5 {
background: url('/face/img/2018/section5.jpg');
background-size: cover;
}

.section5 li {
background: rgba(255, 255, 255, .9);
height: 13em;
width: 15em;
margin-right: .7em;
margin-bottom: 1em;
border-radius: .4em;
}

.pillars {
color: rgba(255, 251, 251, 0.8);
width: 8em;
display: block;
margin: auto;
text-align: center;
border-radius: .4em;
font-size: 3em;
font-weight: bold;
margin-bottom: 1em;
font-family: 'Montserrat', sans-serif;
text-shadow: -2px 0px 0 rgba(255, 255, 255, 0.7), -2px 3px 0 rgba(19, 13, 13, 0.8);
}

.essa {
text-align: center;
padding-bottom: 2em;
margin-top: 1em;
color: #FFF;
}


.section5 {
background: url(/face/img/2018/section5.jpg);
background-size: cover;
background-position-y: -10em;
background-attachment: fixed;
padding: 6em 0;
}

.template-page-style h3 {
position: relative;
font-size: 30px;
z-index: 1;
overflow: hidden;
text-align: center;
font-size: 3em;
color: #7a7b7b !important;
color: #F44336 !important
text-transform: uppercase;
}

.template-page-style h3:before, .template-page-style h3:after {
position: absolute;
top: 51%;
overflow: hidden;
width: 50%;
height: 3px;
content: '\a0';
background-color: #c3c3c3;
}

.template-page-style h3:before {
margin-left: -50%;
text-align: right;
}

.template-page-style h3 {
font-size: 2em;
color: #7a7b7b !important;
color: #F44336 !important;
/* text-shadow: -0.2px 5px 16px #cabdbd, -1px 2px 0 rgb(189, 185, 185); */
margin-top: 1em;
}

.template-page-style h5 {
font-size: 1.5em;
color: #7a7b7b !important;
color: #F44336 !important;
/* text-shadow: -0.2px 5px 16px #cabdbd, -1px 2px 0 rgb(189, 185, 185); */
margin-top: 1em;
}

.large-4.columns h5 {
font-size: 1.3em;
color: #7a7b7b !important;
color: #F44336 !important;
/* text-shadow: -0.2px 5px 16px #cabdbd, -1px 2px 0 rgb(189, 185, 185); */
}

.large-6.columns h5 {
font-size: 1.5em;
color: #7a7b7b !important;
color: #F44336 !important;
/* text-shadow: -0.2px 5px 16px #cabdbd, -1px 2px 0 rgb(189, 185, 185); */
}

.template-page-style h2 {
font-size: 2.5em;
font-family: 'Montserrat', sans-serif !important;
color: #716b6b;
}

h6 {
margin-top: 2em;
font-size: 1.2em;
font-family: 'Montserrat', sans-serif !important;
background: #F44336;
padding: .2em .7em;
color: #FFF;
}

.curves {
background: url(/face/img/2018/curves.png);
background-size: cover;
height: 7em;
width: 100%;
position: absolute;
margin: -5em 0;
z-index: 9;
}

.adopt {
margin: 2em 0;
font-size: 2.2em;
text-align: center;
font-weight: bold;
color: #c53c3c;
}

.families-img {
background:url('/face/img/2018/families.jpg');
background-size: cover;
background-attachment: fixed;
height: 34em;
background-position-y: -4em;
margin-top: -3em;
}

.volunteer-img {
background:url('/face/img/2018/volunteer 3.jpg');
background-size: cover;
background-attachment: fixed;
height: 34em;
background-position-y: -4em;
margin-top: -3em;
}

.ambassadors-img {
background:url('/face/img/2018/ambassadors.jpg');
background-size: cover;
background-attachment: fixed;
height: 34em;
background-position-y: -4em;
margin-top: -3em;
}

.contact-img {
background:url('/face/img/2018/contact.jpg');
background-size: cover;
background-attachment: fixed;
height: 37em;
background-position-y: -14em;
margin-top: -3em;
}

.adopt-img {
background:url('/face/img/2018/adopt.jpg');
background-size: cover;
background-attachment: fixed;
height: 40em;
background-position-y: -10em;
margin-top: -3em;
}

.lev-1-img {
background:url('/face/img/2018/v1.jpg');
background-size: cover;
background-attachment: fixed;
height: 37em;
background-position-y: -14em;
margin-top: -3em;
}

.lev-2-img {
background:url('/face/img/2018/v2.jpg');
background-size: cover;
background-attachment: fixed;
height: 37em;
background-position-y: -14em;
margin-top: -3em;
}

.lev-3-img {
background:url('/face/img/2018/v3.jpg');
background-size: cover;
background-attachment: fixed;
height: 37em;
background-position-y: -14em;
margin-top: -3em;
}


.staff-img {
background:url('/face/img/2018/staff.jpg');
background-size: cover;
background-attachment: fixed;
height: 27em;
background-position-y: -14em;
margin-top: -3em;
}

.face ol li, .face ul li {
font-family: inherit;
font-weight: normal;
font-size: 1.1rem !important;
color: #3b4950;
line-height: 1.6;
margin: 1em 0 !important;
text-rendering: optimizeLegibility;
}

.click-here {
display:block;
margin: auto;
font-size: 1rem;
background-color: #2196F3 !important;
/* text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2); */
color: #FFF;
text-transform: uppercase;
padding: .5em 2em;
text-decoration: none;
background-size: 100% auto;
background-image: linear-gradient(#2196F3, #2f88d0) !important;
border-width: 1px;
border-style: solid;
border-color: #2196F3 #2196F3 #65a6da !important;
}

.page-title {
position: absolute !important;
margin: auto !important;
margin-top: -5em !important;
color: #fffcfc !important;
top: 0 !important;
right: 0 !important;
left: 0 !important;
text-align: center !important;
font-weight: bold !important;
z-index: 7 !important;
font-size: 4em !important;
padding: .4em.7em !important;
font-family: 'Montserrat', sans-serif !important;
text-shadow: -0.2px 5px 16px #232222, -4px 4px 0 rgb(68, 61, 61) !important;
transform: skew(0deg) rotate(0deg) !important;
}

.be-inspired {
text-align: center;
font-weight: bold;
font-size: 2em;
font-family: 'Montserrat', sans-serif;
text-transform: uppercase;
}

.section-volunteers table {
border: none !important;
background: #FFF !important;
}

.section-volunteers table td, .section-volunteers table th {
vertical-align:top !important;
}

.section-volunteers h3 {
font-size: 1.3em !important;
color: #4f588a !important;
}

.section-volunteers table tr th, .section-volunteers table tr td {
padding: 0.5625rem 0.625rem;
font-size: 1rem;
color: #222222;
text-align: left;
}

.section-staff p {
font-size: 1em;
margin-top: .5em;
padding: 0 .7em;
}

.volunteers-staff p {
font-size: 1.15em;
margin-top: 1em;
padding: .7em;
}

.section-volunteers ol li, .section-volunteers ul li {
font-family: inherit;
font-weight: normal;
font-size: 1.1rem;
line-height: 1.6;
margin: 1em;
text-rendering: optimizeLegibility;
}

.section-volunteers h3.bg-white:before, .section-volunteers h3.bg-white:after {
background: #FFF !important;
}

.section-volunteers h4 {
font-weight: bold !important;
text-align: center !important;
color: #4a4747 !important;
font-size: 1em;
}

.template-page-style h2 {
font-size: 2.5em;
font-family: 'Montserrat', sans-serif !important;
color: #fff !important;
}

@media only screen and (max-width: 30em) {
h1 {
margin-top: -10em;
font-size: 1.8em;
}

.Wbox-containers {
margin: auto;
display: block;
left: 0;
right: 0;
padding-left: 2em;
}
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */
