//VARIABLES
//Colors
$color1: #FFF; /*White*/
$color2: #2B2B2B; /*Charcoal*/
$color3: #D0D2D3; /*Gray*/
$color4: #404041; /*DarkGray*/
$color5: #A1BEFF; /*light Blue*/
$color6: #E90101; /*Red*/
$color7: #F7DA47; /*Yellow*/
$color8: #000; /*Black*/
$color9: #FFFCFC; /*Snow*/
$color10: #244690; /*Blue*/
$color11: #FAFBFC; /*Egg Shell, Light Gray*/
$color12: #CCC; /*Light Gray*/
$color13: #1F3A75;
$color14: #E50100;
$color15: #1E1F1F;
$color16: #213869;
$color17: #8C1010;
$color18: #31393F;
$color19: green;

//Fonts
$fontFamily1: "Lato", Arial, sans-serif;
$fontFamily2: "Lora", Arial, sans-serif;
$fontFamily3: "Open Sans", Arial, sans-serif;
$fontFamily4: "Open Sans Condensed", Arial, sans-serif;
$fontFamily5: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$fontFamily6: "Alegreya SC", Georgia, serif;
$fontFamily7: "Oswald", sans-serif;
$fontFamily8: "Calibri", Arial, sans-serif;
$fontSize: 16px;
$fontWeight1: normal;
$fontWeight2: bold;

//Element Styles
