@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  background: #000;
  font-family: 'Open Sans', sans-serif;
}

a{
  font-weight: bold;
}

p, ul li{
  font-family: "Open Sans Condensed", Arial, sans-serif;
  text-align: left;
}

.italics{
  font-style: italic;
  font-weight: normal;
}

#prekContainer{
  background: #FFF !important;
}

/* POPUP */
@-webkit-keyframes popupH3 {
  0% {
    opacity: 0;
    margin-top: -100px; }
  100% {
    opacity: 1;
    margin-top: 350px; } }
@-moz-keyframes popupH3 {
  0% {
    opacity: 0;
    margin-top: -100px; }
  100% {
    opacity: 1;
    margin-top: 350px; } }
@-o-keyframes popupH3 {
  0% {
    opacity: 0;
    margin-top: -100px; }
  100% {
    opacity: 1;
    margin-top: 350px; } }
@keyframes popupH3 {
  0% {
    opacity: 0;
    margin-top: -100px; }
  100% {
    opacity: 1;
    margin-top: 350px; } }



@keyframes popupH3Reverse {
  0% {
    opacity: 1;
    margin-top: 350px; }
  100% {
    opacity: 0;
    margin-top: -100px; } }



@-webkit-keyframes popupClose {
  0% {
    display: none;
    opacity: 0;
    text-align: center;
    margin-top: -200px; }
  100% {
    display: block;
    opacity: 1;
    text-align: center;
    margin-top: 290px; } }
@-moz-keyframes popupClose {
  0% {
    display: none;
    opacity: 0;
    text-align: center;
    margin-top: -200px; }
  100% {
    display: block;
    opacity: 1;
    text-align: center;
    margin-top: 290px; } }
@-o-keyframes popupClose {
  0% {
    display: none;
    opacity: 0;
    text-align: center;
    margin-top: -200px; }
  100% {
    display: block;
    opacity: 1;
    text-align: center;
    margin-top: 290px; } }
@keyframes popupClose {
  0% {
    display: none;
    opacity: 0;
    text-align: center;
    margin-top: -200px; }
  100% {
    display: block;
    opacity: 1;
    text-align: center;
    margin-top: 290px; } }

.popupWrap{
  position: absolute;
  z-index: 2000;
}

.popup{
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  height: 4780px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 2000;
}

.prekPopupH3{
  background: #234590;
  border: 3px solid #E90101;
  color: #FFF;
  font-family: "Open Sans", Arial, sans-serif;
  /* font-size: 1.4rem; */
  /* font-weight: bold; */
  line-height: 50px;
  margin: 350px auto 0;
  opacity: 1;
  padding: 20px 1%;
  position: relative;
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.prekPopupH3 p{
  color: #F7DA47;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  /* display: inline-block; */
  /* margin: 0 auto; */
  text-align: center;
}

.prekPopupH3 p span{
  color: #FFF;
}

.prekPopupH3 p:nth-child(2){
  margin-bottom: 0;
}

/* .prekPopupH3 article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.prekPopupH3 p, .prekPopupH3 ul{
  display: inline-block;
  margin: 0 auto;
}

.prekPopupH3 p{
  display: inline-block;
  margin-bottom: 10px;
}

.prekPopupH3 ul{
  padding-left: 12%;
}

.prekPopupH3 section p{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.prekPopupH3 section p a{
  color: #FFF;
} */

.btnHide, .loading, .h3Hide{
  display: none;
  opacity: 0;
}

.popupCloseBTN{
  background: transparent;
  border: 0;
  color: #FFF;
  font-size: 1rem;
  font-weight: bold;
  left: 0;
  margin: 290px auto 0;
  opacity: 1;
  position: absolute;
  right: 0;
  text-align: center;
}

.popup > button{
  background: transparent;
}

.popup > button:hover{
  text-decoration: underline;
}

section.popup > p:nth-child(1){
  font-family: "Open Sans", Arial, sans-serif;
  left: 0;
  margin: 290px auto 0;
  padding: 0;
  right: 0;
  text-align: center;
}

.popupAnimation{
  position: relative;
  -webkit-animation: popupH3 1s ease-out;
  -moz-animation: popupH3 1s ease-out;
  -o-animation: popupH3 1s ease-out;
  animation: popupH3 1s ease-out;
  -webkit-transform-origin:center bottom;
  transform-origin:center bottom;
}

.reverseH3{
  position: relative;
  -webkit-animation: popupH3Reverse 1s ease-out;
  -moz-animation: popupH3Reverse 1s ease-out;
  -o-animation: popupH3Reverse 1s ease-out;
  animation: popupH3Reverse 1s ease-out;
}

.popupCloseAnimation{
  -webkit-animation: popupClose 1s ease-out;
  -moz-animation: popupClose 1s ease-out;
  -o-animation: popupClose 1s ease-out;
  animation: popupClose 1s ease-out;
  -webkit-transform-origin:center bottom;
  transform-origin:center bottom;
}



/* ROTATING HERO IMAGES */
#bckWrap{
  height: 800px;
  position: relative;
}

#bck{
  min-height: 1150px;
  min-width: 2050px;
  height: 1150px;
  opacity: .5;
  position: fixed;
  top: 0;
  width: 2050px;
  z-index: -1;
}

#bckRotate{
  margin: 0 0 0 -40px;
}

/* #bckRotate li{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
} */


#bckRotate li{
  display: none;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
  /* height: 100%; */
}

#bckRotate li:nth-child(1){
  display: block;
}

#bckRotate li.previous{
  display: block;
  opacity: 1;
  z-index: 1;
}

#bckRotate li.current{
  display: block;
  opacity: 1;
  z-index: 2;
}

#bckRotate li img{
  width: 100%;
  height: 100%;
}
/**/

#bckWrap > h1, #headStartWrap > h1, #readinessWrap > h1, #servicesresearchWrap > h1, #environmentWrap > h1, #familyWrap > h1, #staffWrap > h1{
  color: #fffcfc;
  font-family: 'Lora', sans-serif;
  font-size: 7em;
  font-weight: bold;
  left: 50%;
  line-height: 180px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  text-transform: capitalize;
  top: 45%;
  transform: translate(-50%, -50%);
  z-index: 7;
}

.playerControls{
  display: inline-block;
  margin-left: 2%;
  position: relative;
  width: 17%;
  z-index: 8;
}

.playerControls .controlsBTN{
  background: #E90101;
  border-radius: 8px;
  padding: 8% 0;
  position: absolute;
  width: inherit;
}

.playerControls .controlsBTN .controls{
  color: #FFF;
  font-size: 1.5rem;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

#play{
  display: none;
}

.arrowCTRL{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 0;
  opacity: .4;
  position: absolute;
  top: 30%;
  transform: translate(0, 50%);
  width: 100%;
  z-index: 9;
}

.arrows{
  background: transparent;
}

.arrows .controlsArr{
  color: #FFF;
  font-size: 3rem;
}

#bckWrap #downArr{
  bottom: 30px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
}

@-webkit-keyframes bounce {
  0% {
	-webkit-transform:translateY(0%);
  }
  50% {
  	-webkit-transform:translateY(-50%);
  }
}

/* Mozilla Firefox 15 below */
@-moz-keyframes bounce {
  0% {
	-webkit-transform:translateY(0);
  }
  50% {
  	-moz-transform:translateY(-50%);
  }
}

/* Opera 12.0 */
@-o-keyframes bounce {
  0% {
	-webkit-transform:translateY(-50%);
  }
  50% {
  	-o-transform:translateY(-30%);
  }
  100% {
  	-o-transform:translateY(0);
  }
}

.animated{
  -webkit-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both;
  }

.css3-notification{
  position:relative;
  -webkit-animation:bounce 1s ease-in-out infinite;
  -moz-animation:bounce 1s ease-in-out infinite;
  -o-animation:bounce 1s ease-in-out infinite;
  animation:bounce 1s ease-in-out infinite;
  -webkit-transform-origin:center bottom;
  transform-origin:center bottom;
}

h2.prekH2{
  color: #232323;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
}

.graphic{
  background: #E90101;
  margin: 0 auto 50px;
  height: 10px;
  width: 70px;
}

span{
  font-weight: bold;
}

.prekIntro p, .prekIntro ul{
  font-size: 1.6em;
  margin: -.5em 0 2em 0;
  padding: 0 5%;
}

.prekIntro ul{
  font-size: 1.3em;
  list-style: none;
}

.prekIntro ul li{
  margin: 0 auto;
  text-align: center;
}

.newSection > section.prekIntro ul, .newSection2 > section.prekIntro ul{
  font-size: 1.3em;
  list-style: disc;
}

.newSection > section.prekIntro p, .newSection2 > section.prekIntro p{
  padding-bottom: 3%;
}

.newSection > section.prekIntro ul, .newSection2 > section.prekIntro ul{
  padding-left: 5%;
}

.newSection .prekIntro ul li,  .newSection2 .prekIntro ul li{
  text-align: left;
}

.newSection2{
  background: #CCC;
}

.environment section.newSection2 .grants p, .environment section.newSection2 .grants ul{
  padding-left: 17%;
  padding-right: 17%;
}

#prekSpaceLimit{
  background: #234590;
  border-bottom: 5px solid #E90101;
  color: white;
  font-weight: bold;
  padding: 8px 10px 3px;
}

#prekSpaceLimit p, #prekSpaceLimit p a{
  font-size: 1.7rem;
}

#prekSpaceLimit p{
  padding: 0;
  text-align: center;
}

#prekSpaceLimit p span{
  font-weight: bold;
  text-transform: uppercase;
}

.newSection > section.prekIntro p a, .newSection2 > section.prekIntro p a{
  color: #234590;
  font-weight: bold;
  padding: 0;
}

#prekSpaceLimit p a, #readinessSpaceLimit .slideUnder, #servicesresearchSpaceLimit .slideUnder, .prekWrapStart .prekPara .slideUnder{
  color: white;
  font-weight: bold;
  padding: 0;
}

#prekSpaceLimit .slideUnder, .prekWrapStart article section p .slideUnder, .prekWrapStart article section ul li .slideUnder, #readinessSpaceLimit .slideUnder,
#servicesresearchSpaceLimit .slideUnder, .newSection > section.prekIntro p a, .newSection2 > section.prekIntro p a, .prekWrapStart .prekPara a,
.prekDevice .datesWrap section p a{
  display: inline-block !important;
  position: relative !important;
}

#prekSpaceLimit .slideUnder::after, .prekWrapStart article section p .slideUnder::after,  .prekWrapStart article section ul li .slideUnder::after,
#readinessSpaceLimit .slideUnder::after, #servicesresearchSpaceLimit .slideUnder::after, .newSection > section.prekIntro p a::after, .prekWrapStart .prekPara a::after,
.prekDevice .datesWrap section p a::after{
  content: '' !important;
  display: block !important;
  margin: auto !important;
  height: 1px !important;
  width: 0px !important;
  background-color: #E90101 !important;
  -webkit-transition: width .5s ease, background-color .5s ease !important;
  -moz-transition: width .5s ease, background-color .5s ease !important;
  -o-transition: width .5s ease, background-color .5s ease !important;
  transition: width .5s ease, background-color .5s ease !important;
}

#prekSpaceLimit .slideUnder:hover::after, .prekWrapStart article section p .slideUnder:hover::after, .prekWrapStart article section ul li .slideUnder:hover::after,
#readinessSpaceLimit .slideUnder:hover::after, #servicesresearchSpaceLimit .slideUnder:hover::after, .newSection > section.prekIntro p a:hover::after,
.prekWrapStart .prekPara a:hover::after, .prekDevice .datesWrap section p a:hover::after{
  background: #E90101 !important;
  width: 80% !important;
}

.prekWrapStart article section p.phoneNumber{
  font-size: 1rem;
  font-weight: bold;
}

.prekRequire {
  height: 600px;
  padding: 0;
}

.prekDevice{
  background: #234590;
  border-bottom: 5px solid #E90101;
}

.prekDevice .prekH2, .prekDevice .datesWrap section .prekH3, .prekDevice .datesWrap section ul, .prekDevice .datesWrap section p, .prekDevice .datesWrap section p a{
  color: #FFF;
}

.prekDevice .datesWrap{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* padding: 0 19%; */
}

.prekDevice .datesWrap section{
  display: flex;
  flex-direction: column;
  /* padding: 0 2%; */
}

.prekDevice .datesWrap section .prekH3{
  color: #F7DA47;
}

.prekDevice .datesWrap section .prekH3, .prekDevice .datesWrap section ul, .prekDevice .datesWrap section p, .prekDevice .datesWrap section p a{
  font-size: 1.2rem;
}

.prekDevice .datesWrap section ul{
  /* font-size: 1.1rem; */
  margin-left: 12%;
}

.prekCopyContainer{
  background: url('../img/2019/stockBCK2.jpg') no-repeat 0 0 / cover;
  display: inline-block;
  margin: 0 auto;
  padding: 0 15% 5%;
  position: relative;
}

.prekCopyContainer .prekH2{
  color: #FFF !important;
  font-family: "Open Sans", Arial, sans-serif;
  margin: 20px auto;
}

.prekWrapStart{
  margin: auto;
  padding: 0 15% 15%;
}

.prekWrapStart article{
  background: #FFF;
  margin: 0 auto 10%;
  padding-left: 0;
  padding-right: 0;
}

.prekWrapStart article figure{
  background: #000;
  height: 190px;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.prekWrapStart article h3.prekH3{
  background: #234590;
  border-bottom: 3px solid #E90101;
  color: #FFF;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0;
  padding: 10px 0;
  text-align: center;
  text-transform: capitalize;
}

.prekWrapStart article section ul li.slideUnder{
  display:contents !important;
}

.prekWrapStart article section ul li{
  margin-bottom: 10px;
}

.prekWrapStart article section ul li:last-child{
  margin-bottom: 0;
}

.prekWrapStart article section ul li{
  margin-bottom: 10px;
}

/* .prekWrapStart article:nth-child(3) section ul {
  list-style: none;
} */

/* .prekWrapStart article:nth-child(3) section ul li:before {
  color: green;
  content: '✓';
  font-weight: bold;
  margin-right: 5px;
} */

.prekWrapStart > p.prekPara{
  background: #234590;
  border: 3px solid #E90101;
  color: #FFF;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.4rem;
  /* font-weight: bold; */
  line-height: 50px;
  margin-bottom: 70px;
  padding: 20px 1%;
  margin-top: 0;
  text-align: center;
}

.prekWrapStart > p.prekPara a{
  color: #FFF;
}

/* .prekWrapStart article h3.prekH3{
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 0;
  text-transform: capitalize;
} */

.prekWrapStart article section{
  padding: 30px;
}

.prekWrapStart article section p, .prekWrapStart article section ul li{
  font-family: "Open Sans", Arial, sans-serif;
  font-size: .9rem;
}

.staff #resizer.row{
  max-width: 100%;
}

.staffSection{
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

.staffSection:nth-child(2n - 1){
  background: #234590;
  border-bottom: 3px solid #E90101;
  color: #FFF;
}

.staffSection:nth-child(2n - 1) ul li, .staffSection:nth-child(2n - 1) p a, section.staffSection:nth-child(2n - 1) ul li span{
  color: #FFF;
}

.staffSection ul li, .staffSection p{
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}

.staffSection ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.staffSection ul li:nth-child(1) span{
  font-size: 1.6rem;
  font-weight: bold;
}

.staffSection ul li:nth-child(2) span{
  color: #767676;
  font-size: 1.3rem;
  font-style: italic;
}

section.staffSection:nth-child(2n - 1) ul li:nth-child(2) span{
  font-weight: normal;
}

.staffSection p a{
  font-weight: bold;
}

.prekImg{
  background: url('../img/2019/prekImageBCK.jpg') no-repeat fixed 0 0 / cover;
  padding: 7% 0;
  position: relative;
}

#headStartWrap.prekImg{
  background: url('../img/2019/prekBCKHead1.jpg') no-repeat fixed 0 0 / cover;
}

#readinessWrap.prekImg{
  background: url('../img/2019/prekBCKHead2.jpg') no-repeat fixed 0 0 / cover;
}

#servicesresearchWrap.prekImg{
  background: url('../img/2019/prekBCKHead4.jpg') no-repeat fixed 0 0 / cover;
}

#environmentWrap.prekImg{
  background: url('../img/2019/prekBCKHead5.jpg') no-repeat fixed 0 0 / cover;
}

#familyWrap.prekImg{
  background: url('../img/2019/prekBCKHead6.jpg') no-repeat fixed 0 0 / cover;
}

#staffWrap.prekImg{
  background: url('../img/2019/prekBCKHead3.jpg') no-repeat fixed 0 0 / cover;
}

.overlayHeaderBCK{
  background: rgba(0, 0, 0, .6);
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

section.prekImg > section > h2.prekH2{
  color: white;
}

.img901{
  left: 0;
  margin: 0 auto;
}

.img901 img{
  height: 100%;
  width: 100%;
}

#template-back-button{
  display: none;
}



/* HEAD START */
#headStartWrap, #readinessWrap, #servicesresearchWrap, #environmentWrap, #familyWrap, #staffWrap{
  height: 450px;
  position: relative;
}

.readiness #resizer .prekWrapper > .prekIntro ul,
.servicesresearch #resizer .prekWrapper > .prekIntro p, .servicesresearch #resizer .prekWrapper > .prekIntro ul, .newSection .prekIntro p, .newSection .prekIntro ul,
.newSection2 .prekIntro p, .newSection2 .prekIntro ul{
  padding: 0;
}

.servicesresearch #resizer .prekWrapper > .prekIntro p{
  text-align: center;
}

.spacelimit{
  background: #234590;
  border-bottom: 5px solid #E90101;
  color: white;
  display: inline-block;
  font-weight: bold;
  padding: 40px 15%;
}

#readinessSpaceLimit.spacelimit{
  display: block;
  height: 225px;
}

.spacelimit p, .spacelimit ul{
  display: inline-block;
  font-weight: normal;
  font-size: 1.4em;
  margin-bottom: 20px;
  padding: 0 5%;
}

.spacelimit > :last-child{
  margin: 0;
}

#readinessSpaceLimit ul, #servicesresearchSpaceLimit ul{
  font-size: 1.1em;
}

.grants, .prekContain{
  padding: 40px 20%;
}

.grants p, .prekContain p{
  margin: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.headstart .prekCopyContainer, .readiness .prekCopyContainer, .servicesresearch .prekCopyContainer{
  padding-bottom: 1%;
}

.hp-social > div, .footer-graphic > div{
  text-align: center;
}

.hp-social > div:nth-child(2) ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.footer-graphic > div p{
  display: inline-block;
  margin: 0 auto;
}

.footer-graphic a{
  color: #FFF;
}

.footer-graphic a:hover{
  color: #E90101;
}

div.bottom p {
    font-size: .9em;
}

@media only screen and (max-width: 1700px) and (min-width: 1421px){
  .prekWrapStart article figure{
    height: 161px;
  }

  #readinessSpaceLimit.spacelimit{
    height: 255px;
  }
}

@media only screen and (max-width: 1440px){
  #bckWrap > h1{
    top: 25%;
  }

  #bckWrap #downArr {
    bottom: 230px;
  }

  #bck{
    left: -200px;
    top: -100px;
  }
}

@media only screen and (max-width: 1420px) and (min-width: 1025px){
  .prekWrapStart article figure{
    height: auto;
  }

  #readinessSpaceLimit.spacelimit{
    height: 265px;
  }
}

@media only screen and (max-width: 1410px){
  .playerControls{
    width: 25%;
  }

  .playerControls .controlsBTN{
    /* font-size: 1.1rem; */
    padding: 10% 0;
  }
}

@media only screen and (max-width: 1300px){
  #readinessSpaceLimit.spacelimit{
    height: 285px;
  }
}

@media only screen and (max-width: 1130px){
  #readinessSpaceLimit.spacelimit{
    padding: 40px 5%;
  }

  #readinessSpaceLimit.spacelimit p{
    padding: 0 5%;
  }
}

@media only screen and (max-width: 1024px){
  .prekWrapStart article figure{
    height: auto;
    /* height: 240px; */
  }
}

@media only screen and (max-width: 1000px){
  #bckWrap{
    height: 400px;
  }

  #bckWrap > h1{
    font-size: 5em;
    line-height: 103px;
    top: 45%;
  }

  #bckWrap #downArr {
    bottom: 0;
  }

  #bck{
    left: -700px;
    top: -100px;
  }

  .prekCopyContainer{
    background: url('../img/2019/stockBCK2.jpg') no-repeat 44% 0 / cover;
  }

  #headStartWrap.prekImg{
    background: url('../img/2019/prekBCKHead1.jpg') no-repeat 50% 0 / 900px;
  }

  #readinessWrap.prekImg{
    background: url('../img/2019/prekBCKHead2.jpg') no-repeat 50% 0 / 900px;
  }

  #servicesresearchWrap.prekImg{
    background: url('../img/2019/prekBCKHead4.jpg') no-repeat 50% 0 / 900px;
  }

  #environmentWrap.prekImg{
    background: url('../img/2019/prekBCKHead5.jpg') no-repeat 50% 0 / 900px;
  }

  #familyWrap.prekImg{
    background: url('../img/2019/prekBCKHead6.jpg') no-repeat 50% 0 / 900px;
  }

  #staffWrap.prekImg{
    background: url('../img/2019/prekBCKHead3.jpg') no-repeat 50% 0 / 900px;
  }

  .prekImg{
    background: url('../img/2019/prekImageBCK.jpg') no-repeat 50% 0 / cover;
  }

  .spacelimit, .grants, .prekContain{
    padding: 40px 5%;
  }

  .spacelimit p, .grants p, .prekContain p, .environment section.newSection2 .grants p{
    padding: 0;
  }

  .environment section.newSection2 .grants ul{
    margin-top: 15px;
    padding: 0 5%;
  }
}

@media only screen and (max-width: 900px){
  /* POPUP */
  @-webkit-keyframes popupH3 {
    0% {
      margin-top: -100px; }
    100% {
      margin-top: 150px; } }
  @-moz-keyframes popupH3 {
    0% {
      opacity: 0;
      margin-top: -100px; }
    100% {
      opacity: 1;
      margin-top: 150px; } }
  @-o-keyframes popupH3 {
    0% {
      opacity: 0;
      margin-top: -100px; }
    100% {
      opacity: 1;
      margin-top: 150px; } }
  @keyframes popupH3 {
    0% {
      opacity: 0;
      margin-top: -100px; }
    100% {
      opacity: 1;
      margin-top: 150px; } }


  @-webkit-keyframes popupClose {
    0% {
      margin-top: -200px; }
    100% {
      margin-top: 95px; } }
  @-moz-keyframes popupClose {
    0% {
      margin-top: -200px; }
    100% {
      margin-top: 95px; } }
  @-o-keyframes popupClose {
    0% {
      margin-top: -200px; }
    100% {
      margin-top: 95px; } }
  @keyframes popupClose {
    0% {
      margin-top: -200px; }
    100% {
      margin-top: 95px; } }

  .prekPopupH3{
    margin: 150px auto 0;
  }

  .popupCloseBTN{
    margin-top: 95px;
  }

  .prekDevice .datesWrap{
    flex-direction: column;
  }

  .prekDevice .datesWrap section{
    margin: 0 auto;
    text-align: center;
  }

  .prekDevice .datesWrap section:nth-child(1){
    margin-bottom: 10px;
  }

  .prekDevice .datesWrap section p{
    text-align: center;
  }
}

@media only screen and (max-width: 900px){
  .prekPopupH3, .prekWrapStart > p.prekPara{
    font-size: 1rem;
    line-height: 35px;
  }
}

@media only screen and (max-width: 878px){
  .playerControls .controlsBTN .controls{
    font-size: 1.1rem;
  }

  #readinessSpaceLimit.spacelimit{
    height: 360px;
  }

  /* #readinessSpaceLimit.spacelimit{
    height: 330px;
  } */
}

@media only screen and (max-width: 750px){
  #bckWrap > h1, #headStartWrap > h1, #readinessWrap > h1, #servicesresearchWrap > h1, #environmentWrap > h1, #familyWrap > h1, #staffWrap > h1{
    font-size: 4em;
    line-height: 100px;
  }

  .staffSection{
    display: inline-block;
  }

  .staffSection ul, .staffSection p:nth-child(2){
    margin-bottom: 30px;
  }

  .prekImg h2.prekH2{
    font-size: 1.5rem;
    line-height: normal;
  }
}

/* @media only screen and (max-width: 878px){
  .playerControls .controlsBTN .controls{
    font-size: 1.1rem;
  }

  #readinessSpaceLimit.spacelimit{
    height: 360px;
  }
} */

@media only screen and (max-width: 672px){
  .prekPopupH3, .prekPara{
    padding: 20px 3%;
  }

  .playerControls{
    width: 26%;
  }

  .playerControls .controlsBTN{
    padding: 13% 0;
  }

  #readinessSpaceLimit.spacelimit{
    height: 390px;
  }
}

@media only screen and (max-width: 595px){
  h2.prekH2{
    font-size: 1.7rem;
    line-height: normal;
  }

  .graphic{
    margin: 25px auto 50px;
  }

  .prekWrapStart {
    padding: 0 0 15%;
  }

  #readinessSpaceLimit.spacelimit{
    height: 450px;
  }
}

@media only screen and (max-width: 500px){
  #leftArr{
    padding-left: 1%;
  }

  #rightArr{
    padding-right: 1%;
  }

  .arrows .controlsArr{
    font-size: 2rem;
  }
}

@media only screen and (max-width: 30em) {
  .playerControls{
    width: 30%;
  }

  .playerControls .controlsBTN{
    padding: 20px 0;
  }

  .playerControls .controlsBTN .controls{
    font-size: 1.3rem;
  }

  h1 {
    margin-top: -10em;
    font-size: 1.8em;
  }

  .Wbox-containers {
    margin: auto;
    display: block;
    left: 0;
    right: 0;
    padding-left: 2em;
  }
}

@media only screen and (max-width: 480px){
  #readinessSpaceLimit.spacelimit{
    height: 470px;
  }
}

@media only screen and (max-width: 400px){
  #readinessSpaceLimit.spacelimit{
    height: 520px;
  }
}

@media only screen and (max-width: 376px){
  #readinessSpaceLimit.spacelimit{
    height: 580px;
  }
}

@media only screen and (max-width: 340px){
  #readinessSpaceLimit.spacelimit{
    height: 610px;
  }
}

@media only screen and (max-width: 320px){
  #readinessSpaceLimit.spacelimit{
    height: 640px;
  }
}

@media only screen and (max-width: 300px){
  #readinessSpaceLimit.spacelimit{
    height: 760px;
  }
}

.bottom p{
  margin-bottom: 0;
}
