//VARIABLES
//Colors
$colorWhite: #FFF;
$colorCharcoal: #2B2B2B;
$colorGray: #D0D2D3;
$colorDarkGray: #404041;
$colorBlue: #43639A;
$colorRed: #E90101;
$colorYellow: #FFC107;
$colorBlack: #000;

//Fonts
$fontFamilyLato: "Lato", Arial, sans-serif;
$fontFamilyLora: "Lora", Arial, sans-serif;
$fontFamilyOpenSans: "Open Sans", Arial, sans-serif;
$fontFamilyOpenSansCondensed: "Open Sans Condensed", Arial, sans-serif;
$fontSize: 16px;
$fontWeight: normal;
$fontWeightBold: bold;

//Element Styles
