//PLACEHOLDERS
%center-element{
  margin: 0 auto;
}

%flexRowAlign-element{
  display: flex;
  flex-direction: row;
}

%flexColumnAlign-element{
  display: flex;
  flex-direction: column;
}

%figurePadMarg{
  margin: 0;
  padding: 0;
}
